body{
  background-color: #e3fdfd;
  margin: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #40514e;
  align-items: center;
  position: relative;
  display: inline-block;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}


hr {
  border-style: dotted none none;
  height: 0px;
  width: 10%;
  border-color: #71c9ce;
  border-width: 5px;
  margin: 70px auto;
}

h1{
  color: #30e3ca;
  margin: 50px auto 0 auto;
  font-family: 'Amatic SC', cursive;
  font-size: 5.625rem;
}
.sub{
  color: #8785a2;
  font-size: 2.2rem;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin-top: 0;
  font-weight: normal;
}
h2{
  font-family: 'Playfair Display', serif;
  color: #11999e;
}

.self-description{
  width: 30%;
  display: inline-block;
}

h3{
  font-family: 'Playfair Display', serif;
  color: #11999E;
}

a{
  color: #11999E;
}

.tcloud{
  position: absolute;
  right: 100px;
  top: 35px;
}

.bcloud{
  position: absolute;
  bottom: 300px;
  left: 100px;
}

.mountain{
  margin-bottom: 0;
}

.top-container{

  background-color: white;
  padding-top: 100px;
  position: relative;
}

.middle-container{

padding: 60px 0 30px 0;

}

p{
  line-height: 1.5;
}

.bottom-container{
  background-color: #66bfbf;
  margin: 0;
  padding: 40px 0;
  line-height: 2;
}
.contact-info{
  margin: 30px auto 50px;
  width: 60%;
}

.btn {
	background-color: #11999E;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Helvatica', sans-serif;
	font-size:15px;
	font-weight:normal;
	padding:15px 20px;
	text-decoration:none;
}
.btn:hover {

	background-color: #56E6E6;
}
.btn:active {
	position:relative;
	top:1px;
}


.icon{
  width: 30%;
}

.skill-row-odd{
  width: 50%;
  margin: 100px auto 100px 50px;

}

.skill-row-even{
  width: 50%;
  margin: 100px 50px 100px auto;

}

.skill-text{
  display: contents;
}

.skill-title{
  text-align: left;
}

.skill-info{
  text-align: left;

}

.even-skill-title{
  text-align: right;
}

.even-skill-info{
  text-align: right;
}

.pro{
  width: 18%;
  border-radius: 50%;
}

.footer-link{
  padding: 30px;
}

.oddi{
  float: left;
  margin-right: 30px;
}

.eveni{
  float: right;
  margin-left: 30px;
}

.footer-link{
  font-family: 'Helvatica', sans-serif;
  text-decoration: none;
  padding: 15px 30px;
  border-width: 1px;
}

.footer-link:hover{
  color: white;

}

.footer{
  display: inline-block;
  margin: 0 auto;
}
